/*! THE CODE IN HERE SHOULD JUST BE *UNCHANGEABLE* THINGS, NOT SIZING/POSITIONING */

@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");

:root {
  --background-purple: #3d2a38;
  --background-dark-purple: #20111d;
}

body {
  font-family: "Oxygen Mono", monospace;
  background: var(--background-purple);
  padding: 0;
  margin: 0;
  height: 100dvh;
}
.home-container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: fit-content;
  margin: 16px auto;
}
.studio-container {
  width: 370px;
}
.background-image {
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-card {
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.card-with-gradient-wrapper {
  padding: 20px;
  box-sizing: border-box;
}
.overlay-text {
  position: absolute;
  color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #fff;
  width: fit-content;
  font-size: 24px;
  z-index: 50;
}

/*! RESPONSIVE */
/*? CHANGE THE SIZES/POSITIONING IN HERE, NOT IN THE CODE ABOVE*/

/* Mobile Portrait */
@media screen and (max-width: 320px) {
}

/* Mobile Landscape */
@media screen and (max-width: 480px) {
  .wrapper {
    margin: 16px;
  }
  .studio-container {
    width: 100%;
  }
}

/* IPad Portrait */
@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Browser, IPad Landscape */
@media screen and (max-width: 1024px) {
  .wrapper {
  }
}

/* Small Browser */
@media screen and (min-width: 1200px) {
  .home-container {
    height: 100%;
  }
}

/* Big Browser */
@media screen and (min-width: 1400px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
