/*! THE CODE IN HERE SHOULD JUST BE *UNCHANGEABLE* THINGS, NOT SIZING/POSITIONING */

@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");

:root {
  --background-purple: #3d2a38;
  --background-dark-purple: #20111d;
}

body {
  font-family: "Oxygen Mono", monospace;
  background: var(--background-purple);
  padding: 0;
  margin: 0;
}
.navbar {
  height: 86px;
  width: 100%;
  background-color: var(--background-dark-purple);
  margin-bottom: 40px;
  box-shadow: 0pc 5px 10px 0px #170c15b5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.navbar i {
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  width: fit-content;
  margin: auto;
}

.studio-container,
.line .recital {
  user-select: none;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  height: 350px;
  cursor: pointer;
}
.background-image {
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay-text {
  position: absolute;
  color: #fff;
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  width: fit-content;
  font-size: 24px;
  text-align: center;
}
.rounded-card {
  border-radius: 20px;
  overflow: hidden;
  /* display: flex;
  align-items: flex-end;
  justify-content: flex-start; */
  /* padding:30px;
  box-sizing: border-box; */
}

/*! RESPONSIVE */
/*? CHANGE THE SIZES/POSITIONING IN HERE, NOT IN THE CODE ABOVE*/

/* Mobile Portrait */
@media screen and (min-width: 320px) {
  .studio-container {
    width: 100%;
  }
}

/* Mobile Landscape */
@media screen and (min-width: 480px) {
}

/* IPad Portrait */
@media screen and (min-width: 768px) {
}

/* Browser, IPad Landscape */
@media screen and (min-width: 1024px) {
}

/* Small Browser */
@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .studio-container {
    max-width: 500px;
  }
}

/* Big Browser */
@media screen and (min-width: 1400px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
