.competitions-wrapper {
  padding: 16px 48px;
  margin: auto;
}

.group {
  margin: 32px 0;
}

.line {
  margin: 16px 0;
}

.line.text {
  color: white;
  font-size: 36px;
}

.line.grid {
  display: grid;
  align-items: center;
  grid-column-gap: 16px;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-row-gap: 16px;
}
.line.grid .recital {
  height: 230px;
  cursor: pointer;
}

/* Mobile Portrait */
@media screen and (max-width: 380px) {
  .line.grid {
  }
  .recital {
    width: 90%;
  }
}

/* Mobile Landscape */
@media screen and (max-width: 480px) {
  .competitions-wrapper {
    padding: 16px;
  }
}

/* IPad Portrait */
@media screen and (min-width: 768px) {
  .line.grid {
    /* grid-template-columns: repeat(2, 1fr); */
  }
}

/* Browser, IPad Landscape */
@media screen and (min-width: 1024px) {
}

/* Small Browser */
@media screen and (min-width: 1200px) {
  /* .recital {
    max-width: 500px;
  } */
}

/* Big Browser */
@media screen and (min-width: 1400px) {
  .line.grid {
    /* grid-template-columns: repeat(4, 1fr); */
  }
}
