.year-nav-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 330px;
  margin: auto;
  padding: 16px 0;
  box-sizing: border-box;
  font-size: 28px;
  color: white;
}
.previous,
.next {
  cursor: pointer;
}
.previous,.next{
  font-size: 20px;
  color: rgb(201, 201, 201);
}

.videos-wrapper {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: fit-content;
  margin: auto;
  padding: 16px;
}
.video-wrapper {
  position: relative;
  width: 350px;
  height: 230px;
}

/* Mobile Portrait */
@media screen and (min-width: 320px) {
  .studio-container {
    width: 100%;
  }
}

/* Mobile Landscape */
@media screen and (min-width: 480px) {
  .videos-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* IPad Portrait */
@media screen and (min-width: 800px) {
  .videos-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Browser, IPad Landscape */
@media screen and (min-width: 1124px) {
  .videos-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small Browser */
@media screen and (min-width: 1200px) {
  .videos-wrapper {
  }
}

/* Big Browser */
@media screen and (min-width: 1470px) {
  .videos-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
